<!-- views/partials/comment.handlebars -->

<form action="/reviews/comments" method="post">
  <input type="hidden" value="{{review._id}}" name="reviewId">
  <fieldset>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{this.title}}</h4>
    <p class="card-text">{{this.content}}</p>
  </div>
</div>